<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Your password</title>
</head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700;800&display=swap" rel="stylesheet">
<style>
   body {
  font-family: 'Dosis', sans-serif;
  background: #f3f7f8;
}

h2{
color: #40b392;
}
#error_1_id_old_password{
color:red;
}
#error_1_id_new_password2{
color:red;
}
</style>

<body>
{% load crispy_forms_tags %}
{% include "navigation_page.html" %}

{% if not failed %}
<div class="container">

    <div class="row">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% if not hide_form %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h2><b>SET YOUR PASSWORD</b></h2>
                            <P style="color:green; font-size:1.1em;">In order to use this account to signin in your application, you need to set your password.</P>
                            <hr>
                            <form action="{% url 'set_password' %}" method="POST">
                                {% csrf_token %}
                                {{form | crispy}}
                                <button type="submit" class="btn btn-success btn-block">CONFIRM</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h2><b>YOUR PASSWORD WAS SET SUCCESSFULLY !</b></h2>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if not hide_form %}
                    <div class="text-center">
                        <a href="/warlord_soft/dashboard/"><button type="button" class="btn btn-warning">SKIP FOR NOW</button></a>
                    </div>
                {% else %}
                    <div class="text-center">
                        <a href="/warlord_soft/dashboard/"><button type="button" class="btn btn-success">GO HOME</button></a>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

{% elif not authorised %}
<div class="container">

    <div class="row">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h2 style="color: red;"><b>SORRY YOU ARE NOT AUTHORISED TO VIEW THIS PAGE !</b></h2>
                        </div>
                    </div>
                </div>
                    <div class="text-center">
                        <a href="/warlord_soft/dashboard/"><button type="button" class="btn btn-success">GO HOME</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% else %}
<div class="container">

    <div class="row">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h2 style="color: red;"><b>FAILED: PASSWORD DID NOT MATCH! </b></h2>
                            <P style="color:green; font-size:1.1em;">In order to use this account to signin in your application, you need to set your password.</P>
                        </div>
                    </div>
                </div>
                    <div class="text-center">
                        <a href="/set_password/"><button type="button" class="btn btn-warning">RE-ENTER</button></a>
                        <a href="/warlord_soft/dashboard/"><button type="button" class="btn btn-success">SKIP FOR NOW</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}

</body>
</html>